core
*.*~
*.a
*.csv
*.xml
*.bak
*.bin
*.dbg
*.dcu
*.dll
*.drc
*.exe
*.ico
*.identcache
*.local
*.lps
*.map
*.o
*.obj
*.or
*.ppu
*.rsj
*.rst
*.sublime-project
*.sublime-workspace
*.~*~
*~
*.jpg
*.bmp
*.zip
lib/*/*.res

__history
media/*
data/*
backup/*
*/backup/*
lib/*/*.lfm
src/*/backup/*
src/*/*/backup/*
src/*/*/*/backup/*
src/tests/*/lib/*
src/tests/lib/*
src/tests/*/*.ini

# self
debug_log/*
Participante*/*
docs/config_examples/Data/*
*last.bloc.ini
*last.blocs.ini
*last_session.ini
releases/*
!releases/*.py
languages/*win10*.po
experiment_deb64

configuracoes
*configuracoes
*configuracoes*


languages/*win10*.po

# tests
src/tests/bias/TrackBias1
src/tests/bias/biases
src/tests/geometric_progression
src/tests/pause_schedule/pause_schedule